body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/521/582/408/the-last-of-us-video-games-window-wallpaper-preview.jpg');
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;

}

h1 {
    color: #333;
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    font-weight: 1000000;
    margin-left: 20px;
    font-size: 45px;
    text-shadow: 3px 2px black;

}

h2 {
    color: #666;
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    color: rgb(4, 150, 58);
    font-weight: 1000000;
    margin-left: 20px;
    font-size: 45px;
    text-shadow: 3px 2px black;
}


form {
    background-color: #7272729b;
    border: 1px solid #010000e7;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.988);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

select{
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
}
input{
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;  
}
button {
    background-color: #fa0707;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    
}

button:hover {
    background-color: #f58989;
}


#order-summary {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    border: 1px solid #010000e7;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.988);

}



#total-price {
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    background-color: #d9d8d89b;
    border: 1px solid #010000e7;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.988);
}

p{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color:black;
}

